﻿<div class="container">

    <div class="row">

        <form name="bookForm">

            <div class="form-group">

                <label>
                    Категория
                </label>
                <select class="form-control" [(ngModel)]="book.categoryId" name="category">
                    <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                </select>

            </div>

            <div class="form-group">

                <label>
                    Название
                </label>
                <input class="form-control" name="title" placeholder="Введите название" [(ngModel)]="book.title" />

            </div>

            <button class="btn btn-success" type="submit" (click)="save()" value="Сохранить">Сохранить</button>

            <button class="btn btn-warning" type="button" (click)="cancel()" value="Отмена">Отмена</button>

        </form>

    </div>

</div>