﻿<div class="container">
    
    <h1>Hello Angular 2</h1>
    
    <a routerLink="/book" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
    
    <table class="table table-condensed table-striped trn-tbl">
        <thead>
            <tr>
                <th class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center" style="vertical-align: middle">
                    Название
                </th> <!--0-->
                <th class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center" style="vertical-align: middle">
                    Кстегория
                </th> <!--1-->
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" style="vertical-align: middle">
                    Операции
                </th> <!--1-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of books">
                <td class="text-center" style="vertical-align: middle">{{row.title}}</td>
                <td class="text-center" style="vertical-align: middle">{{row.categoryName}}</td>
                <td class="text-right">
                    
                    <div class="form-inline">
                        <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil" (click)="editBook(row.id)"></span></button>
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-remove" (click)="deleteBook(row)"></span></button>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

</div>